body {
  font-family: Arial, sans-serif;
}

button {
  cursor: pointer;
}

input {
  margin-right: 10px;
}
.texth1{
  width: 100%;
    background-color: black;
    padding: 5px;
    color: white;
    text-align: center;

}